h2{
    padding-top: 1rem;
}
.chapters{
    margin: auto;
    padding: 1rem;
    max-width: 850px;
    background-color: var(--light-color);
    width:100%;
    border-radius: 10px;
}

p{
    padding: 1rem;
}

ol {
  padding-left: 50px;
}

footer{
    text-align: center;
    color: #6c757d;
    font-size: 0.9rem;
    position: relative;
}

img{
    max-width: 50%;
    margin:auto;
    display: block;
    height: auto;
    border-radius: 10px;
}

a{
    margin-top: 1rem;
    color: var(--primary-color);
    text-decoration: underline;
}

.back-home-link{
    display: block;
    text-align: right;
    margin-top: 1rem;
    color: var(--primary-color);
    text-decoration: underline;
}

#hero{
    position: relative;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: add;
    aspect-ratio: auto;
    min-height: 100svh;
    text-shadow: #53575b 1px 0px 5px;
}
iframe{
    margin: auto;
    display: block;
    height: 50svh;
    width: 80%;
}

@media only screen and (max-width: 850px) {
    img {
        max-width: 100%;
    }
    
    .chapters {
        padding: 0.5rem;
    }
    
    h2 {
        font-size: 1.5rem;
        padding-top: 0.5rem;
    }
    
    p {
        font-size: 0.9rem;
        padding: 0.5rem;
    }
    
    footer {
        font-size: 0.8rem;
    }
    ol {
        padding-left: 2rem;
        font-size:0.9rem;
    }
    #hero {
        min-height: 40svb;
        aspect-ratio: auto;
    }
}