h2{
    padding-top: 1em;
}
.chapters{
    margin: auto;
    padding: 2em;
    max-width: 1000px;
    background-color: white;
    width:100%;
    border-radius: 10px;
}

p{
    font-size: large;
    padding: 1em;
}

ol {
  padding-left: 50px;
}

footer{
    text-align: center;
    color: #6c757d;
    font-size: 0.9rem;
    position: relative;
}

img{
    max-width: 50%;
    margin:auto;
    display: block;
    height: auto;
    border-radius: 10px;
}