:root {
    --primary-color: #9f5c2c;
    --primary-color-semi-transparent: rgba(255, 128, 38, 0.8);
    --secondary-color: #2a1c01;
    --secondary-color-semi-transparent: rgba(32, 30, 28, 0.8);
    --dark-color: rgb(255, 239, 214);
    --light-color: #201e1c;
    --light-color-semi-transparent: rgba(32, 30, 28, 0.8);
    --dark-color-semi-transparent: rgba(255, 239, 214, 0.8);
    --icon-color: rgb(255, 239, 214, 0.5);
}

#hero {
    background: linear-gradient(135deg, var(--primary-color-semi-transparent), var(--secondary-color-semi-transparent));
    color: var(--dark-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
