---
layout: layouts/base.html
title: "Yu Chung Yau - Jones Portfolio"
---

<!-- Projects Section (Compiled Dynamically) -->
<section id="projects">
    <h2 class="section-title">My Projects</h2>
    <div class="projects-grid">
        {% for post in collections.coding %}
            <div class="project-card-wrapper">
                <a class="project-card" href="{{ post.url }}" style="--i:{{ forloop.index0 }};">
                <div class="card-content">
                    {% if post.data.heroImage %}
                        <img src="{{ post.data.heroImage }}" 
                        alt="Icon"
                        class="card-fg-img" />
                    {% endif %}
                    <div class="card-text">
                        <h3>{{ post.data.title }}</h3>
                        <p class="card-description">{{ post.data.description }}</p>
                        <p class="read-more">Read More</p>
                    </div>
                </div>
                </a>
            </div>
        {% endfor %}
        <div class="project-card-wrapper">
            <a class="project-card view-all-card" href="/#projects">
                <div class="card-content view-all-content">
                    <div class="card-text view-all-text">
                        <h3>Back Home</h3>
                        <p class="card-description">Come back to the homepage</p>
                        <i class="fa-solid fa-house top-left"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
